/vendor
/node_modules
.env
.env.*
*.log
/storage/*.key
Homestead.json
Homestead.yaml
/.vagrant
/.phpunit.result.cache
.DS_Store
Thumbs.db
.git
.gitignore
README.md
.idea
.vscode
npm-debug.log
yarn-error.log
composer.lock
*.sqlite
/.env.*
/.php-cs-fixer.php
/.styleci.yml